.hidden {
  display: none;
}

.container {
  margin: 0 auto;
  position: relative;
}

.row {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-content-center {
  align-items: center;
}

.height-fit-content {
  height: fit-content;
}

.column-full {
  flex-basis: 100%;
}

.column-thirds {
  flex-basis: calc(100% / 3);
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-absolute-bottom-0 {
  bottom: 0;
}

.height-100vh-modded {
  height: calc(100vh - 100px);
}
