.hidden {
  display: none !important;
}

.container {
  margin: 0 auto;
}

.row {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-content-center {
  align-items: center;
}

.column-full {
  flex-basis: 100%;
}

.column-75 {
  flex-basis: 75%;
}

.column-50 {
  flex-basis: 50%;
}

.column-thirds {
  flex-basis: calc(100% / 3);
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.bottom-0 {
  bottom: -1px;
}

.width-100vw {
  width: 100vw;
}

.height-fit-content {
  height: fit-content;
}

.height-50 {
  height: 50%;
}

.height-100vh-modded {
  height: calc(100vh - 100px);
}
