/* Background stuff */

#clouds-container {
  width: 100vw;
}

#clouds {
  position: absolute;
  top: 5rem;
  width: 100%;
  height: auto;
  z-index: -1;
}

#sun {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -2;
}

.hills-desktop {
  bottom: 0;
  position: absolute;
  margin: 0 0 -5px;
  padding: 0;
  z-index: -5;
}

.hills-desktop > svg {
  width: 100vw;
  height: 100px;
}

/* Homepage stuff */

#home-view {
  max-width: 300px;
}

#home-view > h1 {
  text-align: center;
}

#home-view > h2 {
  text-align: center;
}

/* Search bar stuff  */
::placeholder {
  color: #6c757d;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}

.search-bar-icon-container {
  position: absolute;
  left: 0%;
  top: 0;
}

.search-bar-icon-container > button {
  padding: 10px;
  border: none;
  margin-top: 2px;
  background-color: transparent;
}

button > i.fa-magnifying-glass {
  font-size: 1rem;
}

input {
  flex-basis: 100%;
  padding: 10px 5px 10px 0;
  border-radius: 5px;
  border: solid 2px #ced4da;
  padding-left: 3rem;
}

input:focus {
  outline: none;
  border: 2px solid #93e4a5;
}

/* Statspage stuff */

li > div > p {
  font-size: 18px;
  font-weight: bold;
  margin: 0.4rem 0;
}

.stats-column > p {
  font-size: 18px;
  font-weight: bold;
}

.nav-item > p {
  margin: 0;
  text-align: center;
}

.notification-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.notification-container-fade {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 2s ease-out;
}

.notification-container > p {
  padding: 2rem 3rem;
  margin: 2rem 2rem 0;
  background-color: white;
  border: lightgreen 5px solid;
  border-radius: 10px;
  text-transform: capitalize;
}

#summary {
  display: none;
}

#summary > p {
  margin: 2rem 0;
  height: 30vh;
  overflow: hidden;
  overflow-y: scroll;
}

#summary > p::-webkit-scrollbar {
  display: none;
}

#summary > p > p {
  margin: 0 0 1rem;
}

#city-stats-view-city-name {
  text-transform: capitalize;
  text-align: center;
  font-size: 2.8rem;
}

#city-stats-view {
  flex-basis: 750px;
}

li > div {
  padding: 0 1rem;
}

.overall-score {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: -1.5rem;
  margin-bottom: 0.25rem;
  position: relative;
}

/* underline styling start */
.overall-score::before {
  content: "";
  position: absolute;
  bottom: 0;
  margin-left: -5px;
  width: 75px;
  height: 14px;
  background: #e9ffa9;
  z-index: -1;
}

/* underline styling end */

/* summary button styling start */
div.justify-content-center > button {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  background-color: #93e4a5;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
}

/* summary button styling end */

ul {
  list-style-type: none;
  margin: 2rem 0;
  padding: 0;
  height: 30vh;
  overflow: hidden;
  overflow-y: scroll;
}

ul::-webkit-scrollbar {
  display: none;
}

/* modal stuff */

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.293);
  height: 100vh;
  width: 100vw;
}

.modal {
  flex-basis: 75%;
  max-width: 400px;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  border: lightgreen 5px solid;
  padding: 1rem;
}

/* Mobile UI stuff */

.mobile-nav-container {
  background-color: #e3f2fd;
  height: 100px;
}

.button {
  background-color: #93e4a5;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  color: #292929;
}

.fa-solid,
.fa-magnifying-glass {
  font-size: 2rem;
  display: inline;
  text-align: center;
}

.fa-regular {
  font-size: 2rem;
  display: inline;
  text-align: center;
}

.nav-item {
  flex-basis: 10%;
}

/* Responsive Stuff */

div.stats-column:nth-child(1) {
  flex-basis: 75%;
}

.fav-skip-container {
  display: none;
}

.back-to-search-container {
  display: none;
}

@media only screen and (min-width: 600px) {
  body {
    overflow: hidden;
  }

  .height-100vh-modded {
    height: 100vh;
  }

  #sun {
    right: 10%;
  }

  #clouds {
    top: 5%;
  }

  .hills-desktop > svg {
    height: 150px;
  }

  div.height-100vh-modded > div {
    flex-basis: 300px;
  }

  #summary-button {
    display: none;
  }

  #summary {
    display: block;
  }

  .stats-column {
    flex-basis: 45%;
  }

  div.stats-column:nth-child(1) {
    flex-basis: 45%;
  }

  #city-stats-view > div.justify-content-center {
    margin: 0.75rem 5% 0;
    justify-content: space-between;
  }

  .fav-skip-container {
    display: flex;
    justify-content: center;
  }

  .fav-skip-container > button {
    margin: 0 2rem;
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    background-color: #93e4a5;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    width: 100px;
  }

  .back-to-search-container {
    display: flex;
    justify-content: center;
  }

  .back-to-search-container > button {
    margin: 1.5rem 0 0;
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    background-color: transparent;
  }
}

/* responsive clouds */

@media only screen and (min-width: 880px) {
  #clouds {
    top: 0;
    margin-top: -3.5%;
  }
}

@media only screen and (min-width: 1125px) {
  #clouds {
    top: 0;
    margin-top: -12.5%;
  }
}
