/* Homepage */

#home-view {
  max-width: 300px;
}

#home-view > h1 {
  text-align: center;
}

#home-view > h2 {
  text-align: center;
}

/* Searchbar */
::placeholder {
  color: #6c757d;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.85rem;
}

.search-bar-icon-container {
  position: absolute;
  left: 0%;
  top: 0;
}

.search-bar-icon-container > button {
  padding: 0.625rem;
  border: none;
  margin-top: 2px;
  background-color: transparent;
  cursor: pointer;
}

i.search-magnifying {
  font-size: 1rem;
}

input {
  flex-basis: 100%;
  padding: 0.625rem 1rem 0.625rem 3rem;
  border-radius: 5px;
  border: solid 2px #ced4da;
}

input:focus {
  outline: none;
  border: 2px solid #93e4a5;
}

/* Statspage */

li > div > p {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.4rem 0;
  text-transform: capitalize;
}

.saved-list-column {
  flex-basis: 75%;
}

.stats-column > p {
  font-size: 1rem;
  font-weight: bold;
}

.nav-item > p {
  margin: 0;
  text-align: center;
}

.notification-container {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.notification-container-fade {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 2s ease-out;
}

.notification-container > p {
  padding: 2rem 3rem;
  margin: 2rem 2rem 0;
  background-color: white;
  border: lightgreen 5px solid;
  border-radius: 10px;
  text-transform: capitalize;
}

#summary {
  display: none;
}

#summary > p {
  margin: 2rem 0;
  height: 30vh;
  overflow: hidden;
  overflow-y: scroll;
}

#summary > p::-webkit-scrollbar {
  display: none;
}

#summary > p > p {
  margin: 0 0 1rem;
}

#list-title {
  text-transform: capitalize;
  text-align: center;
  font-size: 2.8rem;
  position: relative;
}

#city-stats-view-city-name {
  text-transform: capitalize;
  text-align: center;
  font-size: 2.8rem;
}

#city-stats-view {
  flex-basis: 750px;
}

li > div {
  padding: 0 1rem;
}

.overall-score {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-top: -1.5rem;
  margin-bottom: 0.25rem;
  position: relative;
}

#list-title::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 16.5%;
  margin-left: -5px;
  width: 70%;
  height: 14px;
  background: #e9ffa9;
  z-index: -1;
}

ul#fav-and-skip-list {
  margin: 0 0 2rem;
}

ul#fav-and-skip-list > li {
  border: transparent;
  transition-duration: 225ms;
}

ul#fav-and-skip-list > li:hover {
  border: lightgreen solid 1px;
  border-radius: 10px;
  background-color: rgba(144, 238, 144, 0.286);
}

/* Underline Styling */

.overall-score::before {
  content: "";
  position: absolute;
  bottom: 0;
  margin-left: -5px;
  width: 75px;
  height: 14px;
  background: #e9ffa9;
  z-index: -1;
}

/* Underline Styling End */

/* Summary Button Styling Start */

div.justify-content-center > button {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  background-color: #93e4a5;
  padding: 0.625rem 0.938rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Summary Button Styling End */

ul {
  list-style-type: none;
  margin: 2rem 0;
  padding: 0;
  height: 30vh;
  overflow: hidden;
  overflow-y: scroll;
}

ul::-webkit-scrollbar {
  display: none;
}

/* Modal */

.fa-solid .fa-xmark .modal-xmark {
  color: black;
}

/* Mobile Summary Modal Container and Overlay  */
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.293);
  height: 100vh;
  width: 100vw;
}

.modal {
  flex-basis: 75%;
  max-width: 400px;
  height: fit-content;
  background-color: white;
  border-radius: 10px;
  border: lightgreen 5px solid;
  padding: 1rem;
}

/* Mobile UI start */

.mobile-btn-container {
  height: 60%;
}

.mobile-list-container {
  height: 40%;
}

.mobile-nav-container > .column-full > div > button {
  color: white;
  background-color: transparent;
  border: solid 1px rgb(54, 54, 54);
}

.mobile-nav-container > .column-full > div > button:active {
  color: white;
  background-color: rgb(49, 49, 49);
}

.mobile-nav-container {
  background-color: #292929;
  height: 115px;
}

/* Mobile UI end */

.button {
  background-color: #93e4a5;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
  color: #292929;
  cursor: pointer;
}

.fa-solid {
  font-size: 1.5rem;
  display: inline;
  text-align: center;
}

.fa-regular {
  font-size: 2rem;
  display: inline;
  text-align: center;
  color: white;
}

/* Responsive */

div.stats-column:nth-child(1) {
  flex-basis: 75%;
}

.fav-skip-container {
  display: none;
}

.back-to-search-container {
  display: none;
}

@media only screen and (min-width: 600px) {
  body {
    overflow: hidden;
  }

  .mobile-nav-container {
    display: none;
  }

  .height-100vh-modded {
    height: 100vh;
  }

  #sun {
    right: 10%;
  }

  #clouds {
    top: 5%;
  }

  .hills-desktop > svg {
    height: 150px;
  }

  div.height-100vh-modded > div {
    flex-basis: 365px;
  }

  #summary-button {
    display: none;
  }

  #summary {
    display: block;
  }

  .saved-list-column {
    flex-basis: 80%;
  }

  .stats-column {
    flex-basis: 45%;
  }

  div.stats-column:nth-child(1) {
    flex-basis: 45%;
  }

  #city-stats-view > div.justify-content-center {
    margin: 0.75rem 5% 0;
    justify-content: space-between;
  }

  .fav-skip-container {
    display: flex;
    justify-content: center;
  }

  .fav-skip-container > button {
    color: black;
    margin: 0 0.75rem;
    font-size: 1rem;
    background-color: #93e4a5;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition-duration: 225ms;
  }

  .back-to-search-container > button {
    color: black;
    font-size: 1rem;
    border: solid 1px white;
    padding: 0.75rem 1.25rem;
    background-color: #93e4a5;
    cursor: pointer;
    transition-duration: 225ms;
  }

  .back-to-search-container > button:hover {
    background-color: #a9ffbcb9;
  }

  .back-to-search-container > button:active {
    background-color: #87ffd7cc;
  }

  .fav-skip-container > button:hover {
    background-color: #a9ffbcb9;
  }

  .fav-skip-container > button:active {
    background-color: #87ffd7cc;
  }

  .back-to-search-container {
    margin: 1.5rem 0;
    display: flex;
    justify-content: center;
  }

  .back-to-search-container > button:nth-child(1) {
    border-radius: 10px 0 0 10px;
  }

  .back-to-search-container > button:last-child {
    border-radius: 0 10px 10px 0;
  }

  .fa-solid .faxmark {
    color: black;
  }
}

/* Background */

#clouds-container {
  width: 100vw;
}

#clouds {
  position: absolute;
  top: 5rem;
  width: 100%;
  height: auto;
  z-index: -1;
}

#sun {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -2;
}

.hills-desktop {
  bottom: 0;
  position: absolute;
  margin: 0 0 -5px;
  padding: 0;
  z-index: -5;
}

.hills-desktop > svg {
  width: 100vw;
  height: 100px;
}

/* Responsive Clouds */

@media only screen and (min-width: 880px) {
  #clouds {
    top: 0;
    margin-top: -3.5%;
  }
}

@media only screen and (min-width: 1125px) {
  #clouds {
    top: 0;
    margin-top: -12.5%;
  }
}

/* Loading Spinner  */
.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-default div {
  position: absolute;
  width: 6px;
  height: 6px;
  background: lightgreen;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 37px;
  left: 66px;
}

.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22px;
  left: 62px;
}

.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11px;
  left: 52px;
}

.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7px;
  left: 37px;
}

.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11px;
  left: 22px;
}

.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22px;
  left: 11px;
}

.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 37px;
  left: 7px;
}

.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 52px;
  left: 11px;
}

.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62px;
  left: 22px;
}

.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66px;
  left: 37px;
}

.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62px;
  left: 52px;
}

.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 52px;
  left: 62px;
}

@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}

#loading-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(231, 255, 231);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}
